torch>=1.13.0
transformers>=4.30.0
gradio>=3.40.0
spacy>=3.6.0
scikit-learn>=1.2.0
pydantic==1.10.2
fastapi==0.86.0
robust-deid==0.3.1
https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.1/en_core_sci_sm-0.5.1.tar.gz
https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.1/en_core_sci_lg-0.5.1.tar.gz
